# Excessive local node module files, contributes nothing when seen
# Node modules used in this project: discord.js, discordjs/opus, ffmpeg, fs
node_modules

# Forever in .gitignore jail (contains token)
config.json